:root {
  --wbp-orange: rgb(205, 114, 102);
  --container-padding: 0.4em;
  --container-margin: 0.4em;
  --base-border-radius: 0.5em;
  --base-font-size: 1.2em;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Helvetica, Arial, sans-serif;
  list-style-type: none;
}

h2 {
  color: white;
  text-align: center;
}

.label {
  display: block;
  font-size: 1em;
  margin-top: var(--container-margin);
}

input {
  display: block;
  width: 100%;
  height: 1.5em;
  font-size: var(--base-font-size);
  border: none;
  border-radius: 0.3em;
  padding: 0.2em;
}

input:focus {
  box-shadow: 0 0 0 3px var(--wbp-orange);
  outline: none;
}

textarea {
  flex: 1;
  border-radius: var(--base-border-radius);
  padding: var(--container-padding);
  font-size: var(--base-font-size);
  overflow-y: auto;
  min-height: 15em;
  border: none;
  resize: none;
}

textarea:focus {
  box-shadow: inset 0 0 0 3px var(--wbp-orange);
  outline: none;
}